client:
  id: "${CLIENT_ID}"
  crt: "${CLIENT_CERTIFICATES}"
  key: "${CLIENT_PRIVATE_KEY}"

express:
  port: 7000

db:
  source: ":memory:"

ar:
  id: "${CLIENT_ID}"
  token: "http://keyrock:3000/oauth2/token"
  policy: "http://keyrock:3000/ar/policy"
  delegation: "http://keyrock:3000/ar/delegation"
  rejectUnauthorized: false
