_format_version: "2.1"
_transform: true

services:
  - url: "http://orion-ld:1026"
    name: "context-broker"
    port: 1026
    protocol: "http"

    routes:
      - name: "context-broker"
        paths:
          - "/context-broker"
        strip_path: true

    plugins:
      - name: "ngsi-ishare-policies"
        config:
          access_token:
            header_names:
              - "authorization"
              - "Authorization"
          ar:
            identifier: "${CLIENT_ID}"
            host: "http://keyrock:3000"
            token_endpoint: "http://keyrock:3000/oauth2/token"
            delegation_endpoint: "http://keyrock:3000/ar/delegation"
          satellite:
            identifier: "${I4TRUST_SATELLITE_ID}"
            host: "${I4TRUST_SATELLITE_URL}"
            token_endpoint: "${I4TRUST_SATELLITE_TOKEN_URL}"
            trusted_list_endpoint: "${I4TRUST_SATELLITE_TRUSTED_LIST_URL}"
          jws:
            identifier: "${CLIENT_ID}"
            private_key: "${CLIENT_PRIVATE_KEY}"
            x5c: "${CLIENT_CERTIFICATES}"
      - name: "request-transformer"
        config:
          remove:
            headers:
              - "Authorization"
              - "authorization"

  - url: "http://mintaka:8080"
    name: "temporal-api"
    port: 8080
    protocol: "http"

    routes:
      - name: "temporal-api"
        paths:
          - "/temporal-api"
        strip_path: true

    plugins:
      - name: "ngsi-ishare-policies"
        config:
          access_token:
            header_names:
              - "authorization"
              - "Authorization"
          ar:
            identifier: "${CLIENT_ID}"
            host: "http://keyrock:3000"
            token_endpoint: "http://keyrock:3000/oauth2/token"
            delegation_endpoint: "http://keyrock:3000/ar/delegation"
          satellite:
            identifier: "${I4TRUST_SATELLITE_ID}"
            host: "${I4TRUST_SATELLITE_URL}"
            token_endpoint: "${I4TRUST_SATELLITE_TOKEN_URL}"
            trusted_list_endpoint: "${I4TRUST_SATELLITE_TRUSTED_LIST_URL}"
          jws:
            identifier: "${CLIENT_ID}"
            private_key: "${CLIENT_PRIVATE_KEY}"
            x5c: "${CLIENT_CERTIFICATES}"
      - name: "request-transformer"
        config:
          remove:
            headers:
              - "Authorization"
              - "authorization"
