_format_version: "2.1"
_transform: true

services:
  - url: "http://orion-ld:1026"
    name: "context-broker"
    port: 1026
    protocol: "http"

    routes:
      - name: "context-broker"
        paths:
          - "/context-broker"
        strip_path: true

    plugins:
      - name: "ngsi-ishare-policies"
        config:
          access_token:
            header_names:
              - "authorization"
              - "Authorization"
          ar:
            identifier: "EU.EORI.NL123456789"
            host: "http://keyrock:3000"
            token_endpoint: "http://keyrock:3000/oauth2/token"
            delegation_endpoint: "http://keyrock:3000/ar/delegation"
          satellite:
            identifier: "EU.EORI.NLi4TRUSTSAT"
            host: "https://mw.i4trustsat.ishareworks.nl"
            token_endpoint: "https://mw.i4trustsat.ishareworks.nl/connect/token"
            trusted_list_endpoint: "https://mw.i4trustsat.ishareworks.nl/trusted_list"
          jws:
            identifier: "EU.EORI.NL123456789"
            private_key: |
              -----BEGIN PRIVATE KEY-----
              -----END PRIVATE KEY-----
            x5c: |
              -----BEGIN CERTIFICATE-----
              -----END CERTIFICATE-----
              -----BEGIN CERTIFICATE-----
              -----END CERTIFICATE-----
              -----BEGIN CERTIFICATE-----
              -----END CERTIFICATE-----
      - name: "request-transformer"
        config:
          remove:
            headers:
              - "Authorization"
              - "authorization"
