events {
}

http {
    server_names_hash_bucket_size 128;

    server {
        server_name ${IDENTITY_MANAGER_HOSTNAME};

        listen 443 ssl;

        ssl_certificate /etc/letsencrypt/live/${IDENTITY_MANAGER_HOSTNAME}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/${IDENTITY_MANAGER_HOSTNAME}/privkey.pem;

        location / {
            proxy_pass http://keyrock:3000;
        }
    }

    server {
        server_name ${CONTEXT_BROKER_HOSTNAME};

        listen 443 ssl;

        ssl_certificate /etc/letsencrypt/live/${CONTEXT_BROKER_HOSTNAME}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/${CONTEXT_BROKER_HOSTNAME}/privkey.pem;

        location / {
            proxy_pass http://wilma-orion-ld;
        }
    }

    server {
        server_name ${TEMPORAL_API_HOSTNAME};

        listen 443 ssl;

        ssl_certificate /etc/letsencrypt/live/${TEMPORAL_API_HOSTNAME}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/${TEMPORAL_API_HOSTNAME}/privkey.pem;

        location / {
            proxy_pass http://wilma-mintaka;
        }
    }

    server {
        server_name ${KONG_HOSTNAME};

        listen 443 ssl;

        ssl_certificate /etc/letsencrypt/live/${KONG_HOSTNAME}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/${KONG_HOSTNAME}/privkey.pem;

        location / {
            proxy_pass http://kong:8080;
        }
    }

    server {
        server_name ${ACTIVATION_SERVICE_HOSTNAME};

        listen 443 ssl;

        ssl_certificate /etc/letsencrypt/live/${ACTIVATION_SERVICE_HOSTNAME}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/${ACTIVATION_SERVICE_HOSTNAME}/privkey.pem;

        location / {
            proxy_pass http://activation-service:7000;
        }
    }
}
