events {
}

http {
    server_names_hash_bucket_size 128;

    server {
        server_name identity-manager.example.com;

        listen 443 ssl;

        ssl_certificate /etc/letsencrypt/live/identity-manager.example.com/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/identity-manager.example.com/privkey.pem;

        location / {
            proxy_pass http://keyrock:3000;
        }
    }

    server {
        server_name context-broker-ishare-proxy.example.com;

        listen 443 ssl;

        ssl_certificate /etc/letsencrypt/live/context-broker-ishare-proxy.example.com/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/context-broker-ishare-proxy.example.com/privkey.pem;

        location / {
            proxy_pass http://kong:8080;
        }
    }

    server {
        server_name context-broker-proxy.example.com;

        listen 443 ssl;

        ssl_certificate /etc/letsencrypt/live/context-broker-proxy.example.com/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/context-broker-proxy.example.com/privkey.pem;

        location / {
            proxy_pass http://wilma:8090;
        }
    }

    server {
        server_name activation-service.example.com;

        listen 443 ssl;

        ssl_certificate /etc/letsencrypt/live/activation-service.example.com/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/activation-service.example.com/privkey.pem;

        location / {
            proxy_pass http://activation-service:7000;
        }
    }

    server {
        server_name temporal-api.example.com;

        listen 443 ssl;

        ssl_certificate /etc/letsencrypt/live/temporal-api.example.com/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/temporal-api.example.com/privkey.pem;

        location / {
            proxy_pass http://mintaka:8080;
        }
    }
}
